@font-face {
    font-family: "Outfit";
    src: url(ressources/fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: "YoungSerif";
    src: url(ressources/fonts/YoungSerif-Regular.ttf);
}