@font-face {
    font-family: "Outfit";
    src: url(ressources/fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: "YoungSerif";
    src: url(ressources/fonts/YoungSerif-Regular.ttf);
}

body {
    font-family: "Outfit" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    background-color: hsl(30, 67%, 88%);
    box-sizing: border-box;
}

main {
    width: 45%;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    margin: 70px auto;
}

main img {
    width: 100%;
    border-radius: 20px;
}

h1 {
    font-family: "YoungSerif" , sans-serif;
    color: hsl(24, 5%, 18%) ;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5px;
}

h2 {
    font-family: "YoungSerif" , sans-serif;
    color: hsl(14, 45%, 36%);
    font-size: 25px;
    font-weight: 100;
}

h3 {
    font-weight: 500;
    color: hsl(332, 51%, 32%);
    margin: 0;
}

.preparation-time {
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    border-radius: 10px;
    margin-top: 26px;
}

ul , ol {
    padding-left: 20px;
}

/* Ajout de l'espacement entre les puces et le texte */

li {
    padding-left: 20px;
}

li:not(:last-child) {
    margin-bottom: 10px; /* Ajout de l'espacement entre les éléments de la liste */
}

/* Modification des puces avec le pseudo élément ::marker */

li::marker {
    color: hsl(14, 45%, 36%) ;
    font-weight: 600;
}

ul li::marker {
    font-size: 15px; /* Modification des puces des ul */
}

.preparation-time li::marker {
    color: hsl(332, 51%, 32%);
}

.bold {
    font-weight: 600;
}

hr {
    margin-top: 30px;
    border: solid 0.5px hsl(30, 18%, 87%);
}

/* Style du tableau */

table {
    width: 100%;
}

tr:not(:last-child) td {
    border-bottom: solid 1px hsl(30, 18%, 87%); /* Ajout de la ligne inférieur sauf pour les dernière liste du tableau, "tout les td de tout les tr sauf les td du dernier tr" */
}

td {
    padding: 10px 30px;
}

tr .bold {
    color: hsl(14, 45%, 36%);
}

footer {
    text-align: center;
    padding-bottom: 20px;
}

/* Ajout du responsive */

@media screen and (max-width: 940px) {
    body {
        margin: 0;
    }
    main {
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0px;
    }
    main img {
        border-radius: 0;
    }
    .recipe-content {
        padding: 40px;
        padding-top: 0px;
    }
    footer {
        display: none;
    }
}