@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "PoppinsR";
    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "OpenSans";
    src: url(assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(assets/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 3rem;
    font-family: "OpenSans" ,sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.848);
    height: 100vh;
}

header img {
    height: 3rem;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.3rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-family: "Poppins";
    color: white;
}

p {
    line-height: 2rem;
}

main img {
    width: 100%;
    min-width: 60%;
    margin-right: 2rem;
}

main div {
    width: 100%;
    min-width: 30%;
}

button {
    font-family: "PoppinsR", sans-serif;
    font-size: 16px;
    border: none;
    background-color: white;
    color: hsl(257, 40%, 49%);
    width: 11rem;
    height: 3rem;
    margin-top: 1.8rem;
    border-radius: 30px;
    box-shadow: 0 0 20px hsl(256, 40%, 22%) ;
}

button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.icon {
    display: flex;
}

.icon div {
    border: 1px solid white;
    padding: 1.1rem;
    border-radius: 999px;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon div:not(:nth-child(1)) {
    margin-left: 1rem;
}

.icon div:hover {
    border: 1px solid hsl(300, 75%, 48%);
    color: hsl(300, 75%, 48%);
}

i {
    font-size: 20px;
}

.attribution {
    font-size: 13px;
}

@media screen and (max-width: 1023px) {
    body {
        background-image: url(assets/images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 4rem;
    }

    main img {
        margin: 0;
        width: 80%;
    }

    main div {
        width: 70%;
    }

    .attribution {
        display: none;
    }

    footer {
        justify-content: center;
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 605px) {
    body {
        padding: 2rem;
    }
    header img {
        height: 2.5rem;
    }

    main img {
        width: 100%;
    }

    main div {
        width: 100%;
    }

    h1 {
        font-size: 1.7rem;
    }
    
    button {
        width: 15rem;
    }
}
